body{
    margin: 0 0 0 0;
}
#Title_Bar{
    background-color: #1CA5B8;
    height: 10vh;
    width: 100%;
    display: flex;
    box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh #aaaaaa;
}
#Title_text{
    color: #ffffff;
    font-size: 5vh;
}