body {
    font-family: 'NanumSquare';
    margin: 0;
    color: #512323;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-image: url("https://imageshack.com/a/img923/1892/n9zWck.png");
}

#background {
    position: absolute;
    top: 5vh;
    left: 4vw;
    height: 90vh;
    width: 92vw;
    background-color: rgba(255, 255, 255, 0.3);
}